.title_car {
  text-align: center;
  justify-content: center;
  background-color: gray;
  color: white;
  padding: 3px;
  margin-bottom: 1rem;
}

.name_car {
  text-decoration: underline;
  color: rgb(255, 336, 0);
}

.card {
  padding: 10px;
  margin: 10px;
  border: 2px solid yellow;
  background-color: white;
}

p {
  padding: 5px;
}
